/*----------------
    media info
----------------*/

#mpris {
	padding: 0 12px;
}

/*------------
    volume
------------*/

#custom-left_div.6 {
	color: @backlight;
}
#pulseaudio,
#wireplumber {
	background-color: @backlight;
}

/*----------------
    brightness
----------------*/

#custom-left_div.7 {
	background-color: @backlight;
	color: @battery;
}
#backlight {
	background-color: @battery;
}

/*-------------
    battery
-------------*/

#custom-left_div.8 {
	background-color: @backlight;
	color: @main-bg;
}
#custom-power_profile {
	background-color: @workspaces;
}
#battery {
	background-color: @workspaces;
}
#custom-left_inv.2 {
	color: @backlight;
}

/*----------------
    power menu
----------------*/

#custom-power_menu {
	border-radius: 16px;
	padding: 0 19px 0 16px;
	color: @accent;
}
#custom-power_menu:hover {
	background-color: @hover-bg;
}
